@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Alegreya Sans', sans-serif;
}
a{
    color:white;
    text-decoration: none;
}

.garis{
    background-color: white;
    width: 280px;
    height: 5px;
    border-radius: 16px;
    margin-top:60%;
    display: absolute;
}
.name{
    font-size: 36px;
}
.sosmed{
    margin:40px 0px 40px 0px;
}
.intro{
    overflow: auto;
    margin-left: 0px;
}
header{
    margin-right:px 50px;
    margin:px 60px 40px 30px;
    font-size: 72px;
}
.text-white{color:white;}
.text-red{color:rgb(219, 47, 47);}
header h3{
    font-size:24px;
}
.button{
    background-color: rgba(255, 255, 255, 0.3);
    color:white;
    border-radius: 16px;
    display:inline-block;
    padding:10px;
}
body{
    background-color:rgb(40, 28, 51);
}

main{
    display:grid;
    padding: 0px 0px;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
}
.artikel {
    color: floralwhite;
}
